div{
    height: 180px;
    width: 200px;
    background-color: darkred;
    margin: 20px 20px;
    border: 2px solid black;
}
.box1{
    border-radius:20px;
    box-shadow: 2px 2px 4px 5px inset;
    box-shadow: white;
}
.box2{
    border-radius: 20px;
    box-shadow: 10px 10px 4px 3px;
    box-shadow: white;
}